body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../media/seattlebackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 260px 0px;
  color: white;
}
header h1 {
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-size: 40px;
  opacity: 1;
  font-weight: 400;
}
header h3 {
  font-size: 24px;
  letter-spacing: 3px;
}
header h1,
h2,
h3 {
  line-height: 1.5;
  margin: 0;
}
header a {
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  margin-top: 32px;
  text-decoration: none;
  color: #272044;
  background-color: white;
  padding: 16px 32px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../media/seattlefooter.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 20px;
  color: white;
}
main img {
  width: 100%;
}
main h3 {
  font-size: 30px;
}
main h4 {
  font-size: 20px;
  opacity: 0.7;
}
main h3,
h4,
p {
  margin: 0;
  line-height: 1.5;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-1-small {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
section {
  max-width: 100%;
  margin: 0 auto;
}
section.grid {
  text-align: start;
}
main {
  margin: 60px;
}
.secondary {
  background-color: rgba(226, 226, 226, 0.514);
}
aside {
  text-align: center;
  padding: 100px;
}
h2 {
  font-size: 16px;
  opacity: 0.7;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 13px;
}
p {
  opacity: 0.7;
}
.card {
  background-color: white;
  margin: 30px 0px;
  width: 400px;
}
.card-body {
  padding: 30px;
}
.card-header.grid {
  grid-gap: 0px;
}
.img-responsive {
  display: block;
  width: 100%;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 21px;
  margin: 0 auto;
  background-color: rgb(10, 80, 10);
  padding: 16px;
  width: 80%;
  margin-bottom: 20px;
}
.btn a {
  color: white;
  text-decoration: none;
}
.gallery {
  margin: 60px;
  text-align: center;
}
.gallery h3 {
  line-height: 2;
  margin-bottom: 10px;
}
footer h3 {
  font-size: 20px;
  line-height: 30px;
}
footer p,
a {
  font-size: 16px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer a {
  color: white;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
